[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/openocd"]
	path = lib/openocd
	url = https://github.com/raspberrypi/openocd.git
[submodule "hw/lib/KiCadLib"]
	path = hw/lib/KiCadLib
	url = https://github.com/brandonbraun653/KiCadLib.git
[submodule "lib/picotool"]
	path = lib/picotool
	url = https://github.com/raspberrypi/picotool.git
[submodule "lib/pico-debug"]
	path = lib/pico-debug
	url = https://github.com/brandonbraun653/pico-debug.git
[submodule "lib/cmsis_5"]
	path = lib/cmsis_5
	url = https://github.com/ARM-software/CMSIS_5.git
